
/* CSS properties */
:root {
    --themeColor:#00680D;
    --lightColor:#f1f1f1;
    --mediumColor:#818181;
    --darkColor:#111;
}

/*  Fonts */
@font-face {
    font-family: OpenDyslexic;
    font-style: normal;
    font-weight: normal;
    src: url(/Fonts/OpenDyslexic/OpenDyslexic-Regular.otf) format("opentype"),
        url(/Fonts/OpenDyslexic/OpenDyslexic3-Regular.ttf) format('truetype');
}

@font-face {
    font-family: OpenDyslexic;
    font-weight: bold;
    src: url(/Fonts/OpenDyslexic/OpenDyslexic-Bold.otf) format("opentype"),
        url(/Fonts/OpenDyslexic/OpenDyslexic3-Bold.ttf) format('truetype');
}

/* View */
body {
    background-color: var(--mediumColor);
    font-family: OpenDyslexic;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: large;
}

p {
    padding-left: 20px;
    font-size: medium;
}

/* Grid */

/* Classes */
.grid-container {
    display: grid;
}

.grid-item {
    border: dashed 1px #00680D;
}

.element {
    position: fixed;
}

/* IDs */

#background{
    width: 100vw;
    height:100vh;
}

#view {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#activity {
    background-color: var(--lightColor);
    border-radius: 20px;
}


