
/*  CSS properties */
:root {
    --themeColor:#00680D;
    --lightColor:#f1f1f1;
    --mediumColor:#818181;
    --darkColor:#111;
}

/*  Fonts */
@font-face {
    font-family: OpenDyslexic;
    font-style: normal;
    font-weight: normal;
    src: url(/Fonts/OpenDyslexic/OpenDyslexic-Regular.otf) format("opentype"),
        url(/Fonts/OpenDyslexic/OpenDyslexic3-Regular.ttf) format('truetype');
}

@font-face {
    font-family: OpenDyslexic;
    font-weight: bold;
    src: url(/Fonts/OpenDyslexic/OpenDyslexic-Bold.otf) format("opentype"),
        url(/Fonts/OpenDyslexic/OpenDyslexic3-Bold.ttf) format('truetype');
}

/* View */
body {
    background-color: var(--mediumColor);
    font-family: OpenDyslexic;
    margin: 0;
    padding: 0;
}

/* Grid */
.grid-container {
    display: grid;
    background-color: var(--lightColor);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.grid-item {
    border: solid 1px var(--themeColor);
}
